*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}


section.row{
width: 100%;
}


.body {
    font-family: Abril Fatface;
}

.nav-item {
    margin-right: 80px;
}



.navbar {
    font-size: large;
    font-weight: bold;
}

.text {
    text-align: center;
    margin-top: 40px;
}



