*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}



button.button{
    width: 25%;
    margin-left: 33%;
    border: 3px solid black;
    background-color: white;
    border-radius: 20px;
    color: black;
    margin-bottom: 40px;
}

button.button:hover{

    border: 3px solid white;
    background-color: black;
    color: white
}

section.row{
width: 100%;
}
footer{
    padding-bottom: 40px;
}


.body {
    font-family: Abril Fatface;
}

.nav-item {
    margin-right: 80px;
}

#FAQ {
    margin-right: 0;
}

.navbar {
    font-size: large;
    font-weight: bold;
}

.text {
    text-align: center;
    margin-top: 40px;
}


