.main{
    background-color: #f00;
}
.conteiner-main{
    background-color: white;
    
    min-height: 50vh;
    height: auto;
}
.center-display{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.form{
    min-height: 50vh;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
.bg-red{
    background-color: #f00 !important;
    color: white !important;
}
.write-control{
    min-height: 100vh !important;
    max-height: 200vh !important;
    padding: 20px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.listGroupClass{
    padding: 10px;
}