
*{
 /* font-family:  'Inter Tight', sans-serif;*/
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box !important ;
}
.row{
  max-width:100%  ;
  padding: 0 !important ;
  margin: 0 !important;
}
h1{
  text-align: center !important;
  font-weight: lighter !important;
  font-size: 50px !important;
}
body{
  min-height: 100vh !important;
}
a{
  color: #000000 !important;
  text-decoration-line: none !important;
  text-decoration-thickness:none  !important;
  text-decoration-style: none !important;
  text-decoration-color: none !important;
  border-radius: 10px !important;
  text-align: center !important;
  align-items: center !important;
}
a:hover{
  color: rgb(255, 255, 255) !important;


}